flask-compress==1.4.0
cryptography==3.4.8
flask-cors==3.0.3
sqlalchemy==1.2.7
alembic==0.9.9
psycopg2==2.7.3.1
pyaml==17.10.0
openapi-spec-validator==0.2.8
openapi-core==0.13.1
jsonschema==3.2.0
raven==6.2.1
factory-boy==2.9.0
gunicorn==19.7.1
gevent==1.4.0
blinker==1.4
pyjwt==1.5.3
aws-xray-sdk==1.0
WeasyPrint==0.42.3
Flask-WeasyPrint==0.5
beaker
pytz
ujson
redis
kombu==4.2.1
flask==1.0.2
